@charset 'utf-8';

// Each foundation sub component includes its own
// settings with 'suffix !default'. Settings
// values can be overridden by specifying them here

@import 'foundation-sites/scss/foundation';

// include the foundation components we need
@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-callout;
@include foundation-button;
@include foundation-forms;
@include foundation-menu;

$brightBackground: rgba(210, 225, 220, 255);
$darkerBackground: rgba(4, 161, 170, 255);
$dark: rgba(15, 14, 12, 255);
$background: $brightBackground;

#app {
    @extend .grid-container;
    margin: 1em;
} 

// https://stackoverflow.com/a/52685817/1148030
// Also see the meta viewport in index.html
body {
    background-color: $background;
    color: $dark;
}

.topLevelGrid {
    @extend .grid-x;
    @extend .grid-margin-x;
    @extend .grid-margin-y;
}

%sideContentCell {
    @extend .small-12;
    @extend .medium-4;
    @extend .large-4;
    @extend .cell;
}

%mainContentCell {
    @extend .small-12;
    @extend .medium-8;
    @extend .large-8;
    @extend .cell;
}

.titleCell {
    @extend .small-12;
    @extend .medium-12;
    @extend .large-12;
}

.leftCell {
    @extend %sideContentCell;
}

%componentBorder {
    border-style: solid;
    border-color: $dark;
    border-width: 1px;
}

.helpCell {
    @extend .callout;
    @extend %sideContentCell;
    font-size: smaller;
}

.canvasCell {
    @extend %mainContentCell;
}

.mainCanvasBorder {
    @extend %componentBorder;
    background-color: $darkerBackground;
}

.rightCell {
    @extend %sideContentCell;
}

.canvasWrapperCell {
    @extend .small-12;
    @extend .medium-12;
    @extend .large-12;    
    @extend .cell;
}

.canvasGrid {
    @extend .grid-x;
    @extend .grid-padding-x;
}

.canvasLayoutProbe {
    @extend %mainContentCell;
}

.canvasLayoutProbe {
    @extend %componentBorder;
    border-color: transparent;
}

.codeEditorCell {
    @extend %mainContentCell;
}

.codeEditor {
    width: 100%;
}

.loginInputs {
    @extend .small-12;
    @extend .medium-4;
    @extend .large-4;
}

//.loginNamePrompt {
//}

.loginName {
    @extend %mainContentCell;
}

.loginButtonWrapper {
    @extend .small-12;
    @extend .medium-4;
    @extend .large-4;
    @extend .cell
}

.loginButton {
    @extend .button;
}
